<footer role="contentinfo" class="site-foot contain">
  <p>Enjoy!</p>
  <iframe src="https://scbutton.com/src/button.html?username=fewwy&invert=false&large=false" frameborder="0" scrolling="no" height="20px" width="59.609375px"></iframe>
  <a href="https://twitter.com/bradleyfew" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @bradleyfew</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</footer>
