.form__item {
  padding: 1em 0;
}
.form__item > label {
  display: block;
  margin-bottom: .25em;
}
.form__item > div label {
  font-size: 14px;
}
.form__item input[type=text] {
  -webkit-appearance: none;
  border: 1px solid #eee;
  border-radius: 2px;
  display: inline-block;
  font-size: 1rem;
  line-height: normal;
  padding: .5em .75em;
  width: 100%; 
}
.form__item input[type=radio],
.form__item input[type=checkbox] {
  cursor: pointer;
  margin-right: .5em;
}
.form__item input[type=radio] + label,
.form__item input[type=checkbox] + label {
  margin-right: 1em; 
}
.form__instruction {
  margin-top: .5em;
  display: block;
}
