// Grid

.grid {
  margin: 0;
  padding: 0;
  margin-left: -$site-gutter;
  letter-spacing: -0.31em;
}
.grid__cell {
  display: inline-block;
  padding-left: $site-gutter;
  width: 100%;
  letter-spacing: 0;
  vertical-align: top;
}
.cell--1of4 {
  @include respond-to(med) {
    width: 25%;
  }
}
.cell--3of4 {
  @include respond-to(med) {
    width: 75%;
  }
}

.cell--1of3 {
  @include respond-to(med) {
    width: 33.3333333%;
  }
}
.cell--2of3 {
  @include respond-to(med) {
    width: 66.6666667%;
  }
}

.cell--1of2 {
  @include respond-to(med) {
    width: 50%;
  }
}

.push-top-double {
  margin-top: 3em
}
